---
import Projects from "../../components/Projects.astro";
import Layout from "../../layouts/Layout.astro";
import { getProjects } from "../../services"

export async function getStaticPaths() {
    const projects = await getProjects()
    return  projects.map(project =>{
        return {
            params: { id: project.id },
            props: { project },
        };
    })
}
const {id} = Astro.params
const {title, description, technologies, image, url, more} = Astro.props.project
---
<Layout title={title}>
    <section class="mb-4">
        <img class="mb-4 aspect-auto rounded" src={`/projects/${image}`} alt={title}>
        <div class="border-b-nelsonDark border-b-2 mb-4">
            <h1 class="text-3xl text-nelsonDark pb-2">{title}</h1>
            <ul class="flex gap-2 text-xs mb-2">{technologies.map(tech=><li>{tech}</li>)}</ul>
        </div>
        <p>{description}</p>
        {more && <p class="mt-4">{more}</p>}
        <a href={url} class="transition-all text-nelsonDark hover:text-nelson ease-in duration-200 hover:underline" target="_blank">Go to site</a>
    </section>
    <Projects id={id}/>

</Layout>